# Visual Studio Code settings
.vscode/

# Build artifacts
bin/
obj/

# User-specific files
*.user
*.suo
*.ntvs*
*.njsproj
*.sln*
*.sw?
.env

# Logs
logs/
*.log

# Dependencies
node_modules/
packages/

# ASP.NET-specific
appsettings.Development.json
appsettings.Local.json
secrets.json

# Datab
